---
import Layout from '../layouts/Layout.astro';
import { stimuli } from '@/lib/data';

import like from '@/assets/misc/like.png'
import dislike from '@/assets/misc/dislike.png'
import arrow_left from '@/assets/misc/red-arrow.png'
import arrow_right from '@/assets/misc/green-arrow.png'
import ProgressCard from '@/components/ProgressCard.astro'
import ReactionBar from '@/components/ReactionBar.astro';
import Card from '@/components/Card.astro';
import Dialog from '@/components/Dialog.astro'
import FeedNav from '@/components/FeedNav.astro';
import PostLabel from '@/components/PostLabel.astro'

import { shuffle } from '@/lib/utils';
import { type User } from '@/types/types';

import { supabase } from "../lib/supabase";

import "@/styles/global.css";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

let dbUser: User = (await supabase.from('users').select().eq('id', `${data!.user!.id}`)).data![0];

if(!dbUser) return;

const actualStimuli = dbUser.stimuli_left.map((arr1Item: any) => stimuli.filter(arr2Item => arr1Item.title === arr2Item.title)).flat();
const shuffledStimuli  = shuffle(actualStimuli);

---
<Layout title='E-Social'>
  <Dialog title="Error" message="Selecciona una reacción"/>
  <div id="feed" class=' max-w-[1280px] lg:mx-auto mx-2 sm:pt-10 lg:pt-20 mb-4 h-full min-h-[660px] max-h-[1280px] sm:px-20 sm:py-2 p-2 gap-2 grid grid-cols-1 lg:grid-cols-[1fr_0.7fr] grid-rows-[0.1fr_1fr]' data-user={JSON.stringify(dbUser)}>
    <div class="w-full space-y-2">
      <FeedNav />
      <main id="main" class="flex flex-col items-center w-full max-h-[600px] sm:max-h-[720px] lg:max-h-[900px]">   
        <div class="bg-white rounded-3xl w-full h-full flex justify-center items-start md:p-8 p-4 ">
            <div id="slider" class="w-full h-full bg-gray-50 flex flex-col items-center rounded-3xl p-2">
                <PostLabel />
                <div class="rounded-3xl w-full h-full flex flex-col justify-center items-center lg:gap-8">
                <div id="card-container" class="relative w-full h-[280px] sm:h-[320px] lg:h-[420px] overflow-hidden">
                    <div class="absolute w-full h-[280px] sm:h-[320px] lg:h-[420px]">
                      <div class="bg-gray-50 flex flex-col justify-center items-center w-full h-full">
                        <p class="text-sm text-center">Has terminado de reaccionar <br/> a todos los estimulos.</p>
                        <a href="/instructions-01" class="w-32 h-12 rounded-3xl cursor-pointer bg-sky-300 text-white text-center 
                          font-semibold mt-5 mb-5 duration-500 flex justify-center items-center hover:bg-sky-700" type="button" >
                          Continuar
                      </a> 
                      </div>
                    </div>
                    {
                        shuffledStimuli.map(item =>{
                            return (
                                <Card source={item.image} id={item.title}/>
                            )
                        })
                    }
                </div>
                <div class="flex justify-center items-center w-full max-w-[250px] sm:max-w-[400px] mb-4 mt-2 md:mb-0">
                  <button id="dislike_button" class="border border-red-600 rounded-full p-3 justify-items-center">
                    <img class="md:max-h-8 md:max-w-8 md:h-10 md:w-10 max-w-6 max-h-6 hover:scale-125 transition-transform " src={dislike.src} alt="dislike" />
                  </button>
                  <img class="sm:max-w-16 lg:max-w-24 ml-5 mr-2 max-w-12 w-auto" src={arrow_left.src} alt="arrow-red" />
                  <img class="sm:max-w-16 lg:max-w-24 mr-5 ml-2 max-w-12 w-auto" src={arrow_right.src} alt="arrow-green" />
                  <button id="like_button" class="border border-green-600 rounded-full p-3 justify-items-center">
                    <img class="md:max-h-8 md:max-w-8 md:h-10 md:w-10 max-w-6 max-h-6 hover:scale-125 transition-transform" src={like.src} alt="like" />
                  </button>
                </div>
                <div id="reactions" class="px-4 py-1 mb-2 mt-2 bg-blur rounded-3xl">
                    <ReactionBar />
                </div>
                <p class="max-w-[400px] text-center mt-2 text-xs">Desliza o da clic en los pulgares para indicar si te agrada o no el estimulo</p>
                </div>
            </div>
        </div>
      </main>
    </div>
    <ProgressCard />
  </div>
</Layout>

<style>
  .bg-blur{
		background-color: transparent;
		backdrop-filter: blur(20px);
		background-image: linear-gradient(140deg, rgba(221, 216, 216, 0.86), rgba(255, 255, 255, 0.253));
	}

</style>

<script>
import { setAnsweredQuestions, setProgress, setStimuliLeft } from "@/store/store";


  function updateUserData (){
    const feed = document.querySelector("#feed") as HTMLDivElement
    const data = feed!.dataset.user;

    if(!data) return;

    const dataObj = JSON.parse(data);

    setStimuliLeft(dataObj.stimuli_left);
    setAnsweredQuestions(dataObj.study_answers);
    setProgress((38 - dataObj.stimuli_left.length));

  }

  updateUserData();

</script>
