---
import Layout from '@/layouts/Layout.astro';
import { LoginForm } from '@/components/LoginForm';
import Dialog  from '@/components/Dialog.astro'
import Footer from '@/components/Footer.astro';

const researchers = [
	{
		name: "John Alexander Blandón",
		role: "Psicólogo candidato a magister en la Universidad de los Andes. Investigador.",
		areas: ["Neurociencia social", "ciberpsicología", "psicometría"],
		image: "/researcher-1.webp",
		contact: "ja.blandon@uniandes.edu.co"
	},
	{
		name: "PhD. Sandra Jimena Báez",
		role: "Profesora asociada del Departamento de Psicología de la Universidad de los Andes. Investigadora.",
		areas: ["Neurociencia social", "neuropsicología", "neuropsiquiatría"],
		image: "/researcher-2.webp"
	}
];
---

<Layout title="E-Social: Investigación científica">
	<Dialog />
	<div class="bg-white w-full">
		<nav class="bg-sky-600 flex justify-center py-4 text-white sticky top-0 z-40">
			<div class="max-w-7xl w-full flex justify-between items-center">
				<!-- Logo -->
				<div class="flex items-center gap-2 px-4">
					<img src="/esocial-white.svg" alt="E-Social Logo" class="w-10 h-10">
					<span class="font-bold text-lg sm:text-xl">E-Social</span>
				</div>
				
				<!-- Desktop Navigation -->
				<div class="hidden lg:flex items-center gap-6">
					<a href="#inicio" onclick="window.scrollTo({top: 0})" class="hover:text-gray-900">Inicio</a>
					<a href="#researchers" class="hover:text-gray-900">Investigadores</a>
					<a href="/terms" class="hover:text-gray-900">Consentimiento informado</a>
				</div>

				<!-- Mobile Navigation Button -->
				<button 
					id="menuButton"
					class="lg:hidden p-1.5 sm:p-2 text-white hover:text-gray-900 focus:outline-none"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 sm:h-12 sm:w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</button>

				<!-- Mobile Navigation Menu -->
				<div id="mobileMenu" class="hidden fixed inset-0 bg-white z-50 lg:hidden opacity-0 transition-opacity duration-200">
					<div class="p-4">
						<button 
							id="closeButton"
							class="absolute top-4 right-4 p-1.5 sm:p-2 text-gray-600 hover:text-gray-900 focus:outline-none"
						>
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
						<div class="flex flex-col gap-4 mt-12 text-center">
							<a href="#inicio" onclick="fadeOutMenu()" class="text-gray-600 hover:text-gray-900 text-lg py-2">Inicio</a>
							<a href="#researchers" onclick="fadeOutMenu()" class="text-gray-600 hover:text-gray-900 text-lg py-2">Investigadores</a>
							<a href="/terms" onclick="fadeOutMenu()" class="text-gray-600 hover:text-gray-900 text-lg py-2">Consentimiento informado</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="inicio" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<!-- Main Section -->
			<div class="min-h-[calc(100vh-5rem)] lg:min-h-[calc(85vh-5rem)] flex justify-center">
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-8 lg:gap-24 items-center justify-center mx-2 sm:mx-0">
					<!-- Text Content Section -->
					<div class="mt-12 lg:mt-0 space-y-4 sm:space-y-6 lg:space-y-8 flex flex-col items-center lg:items-start">
						<div class="space-y-2 text-center lg:text-left">
							<h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold text-sky-600">
								E-Social:
							</h1>
							<h2 class="text-2xl sm:text-4xl lg:text-5xl font-bold text-sky-600"> Investigación científica </h2>
						</div>
						
						<p class="text-gray-600 max-w-lg text-sm sm:text-base text-center lg:text-left">
							¡Sé parte de nuestro estudio innovador! Investigación a cargo de la Universidad de los Andes que simula una red social interactiva. Responde todas las preguntas (aproximadamente 15 minutos) y participa por recompensas.
						</p>

						<LoginForm client:only="react"/>
	
						
					</div>
	
					<!-- Illustration Section -->
					<div class="relative  mt-12 lg:mt-0">
						<div class="bg-sky-100 rounded-full p-3 sm:p-6 lg:p-8 relative z-10">
							<div class="bg-white rounded-3xl shadow-xl p-3 sm:p-6 lg:p-8 place-items-center">
								<img 
									src="/illustration.svg" 
									alt="Online Sale Illustration" 
									class="w-full h-auto"
								/>
								<a class="text-gray-600 text-xs" href="https://storyset.com/business">Business illustrations by Storyset</a>
							</div>
						</div>
						
						<!-- Decorative elements -->
						<div class="absolute top-0 right-0 w-12 sm:w-20 lg:w-24 h-12 sm:h-20 lg:h-24 bg-sky-500 rounded-full opacity-20 -translate-y-1/2"></div>
						<div class="absolute bottom-0 left-0 w-8 sm:w-14 lg:w-16 h-8 sm:h-14 lg:h-16 bg-sky-500 rounded-full opacity-20 translate-y-1/2"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray-100 w-full flex justify-center  ">
			<section class="max-w-7xl pb-12 sm:pb-16 lg:pb-20 pt-12">
				<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
					<h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold text-sky-600 text-center mb-12">
						Investigacion avalada por la <br/> Universidad de los Andes
					</h1>
					<div class="flex flex-col lg:flex-row justify-center items-center gap-4">
						<img src="/uniandes-1.webp" alt="Universidad de los Andes Logo" class="w-1/2 h-auto">
						<img src="/uniandes-2.webp" alt="Universidad de los Andes Logo" class="w-1/2 h-auto">
					</div>
				</div>
			</section>
		</div>
		<div class="flex justify-center w-full">
			<!-- About Us Section -->
			<section id="researchers" class="bg-gray-50 py-12 sm:py-16 lg:py-20">
				<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
					<div class="text-center mb-12">
						<h2 class="text-3xl sm:text-4xl font-bold text-sky-600 mb-4">
							Investigadores
						</h2>
					</div>
	
					<div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-12 mt-8">
						{researchers.map((researcher) => (
							<div class="bg-white rounded-2xl shadow-lg p-6 sm:p-8 h-full">
								<div class="flex flex-col sm:flex-row gap-6 items-start h-full">
									<div class="w-40 h-40 rounded-full overflow-hidden mx-auto sm:mx-0">
										<img 
											src={researcher.image}
											alt={`Foto de ${researcher.name}`}
											class="w-full h-full object-cover"
										/>
									</div>
									<div class="flex-1 text-center sm:text-left flex flex-col">
										<h3 class="text-xl font-bold text-gray-900 mb-2">{researcher.name}</h3>
										<p class="text-gray-600 mb-4">{researcher.role}</p>
										
										<div class="mb-4">
											<h4 class="font-semibold text-gray-900 mb-2">Áreas:</h4>
											<p class="text-gray-600">{researcher.areas.join(", ")}.</p>
										</div>

										{researcher.contact && (
											<div class="mt-auto">
												<h4 class="font-semibold text-gray-900 mb-2">Contacto:</h4>
												<a 
												href={`mailto:${researcher.contact}`} 
												class="text-sky-600 hover:text-sky-700"
												>
												{researcher.contact}
												</a>
											</div>
										)}
									</div>
								</div>
							</div>
						))}
					</div>
				</div>
			</section>
		</div>
	</div>
	<Footer />
</Layout>

<script>
	declare global {
		interface Window {
			fadeOutMenu: () => void;
		}
	}

	const menuButton = document.getElementById('menuButton');
	const closeButton = document.getElementById('closeButton');
	const mobileMenu = document.getElementById('mobileMenu');

	// Define fadeOutMenu first
	window.fadeOutMenu = function() {
		if (mobileMenu) {
			mobileMenu.classList.remove('opacity-100');
			document.body.style.overflow = '';
			setTimeout(() => {
				mobileMenu.classList.add('hidden');
			}, 200);
		}
	}

	// Then use it
	closeButton?.addEventListener('click', window.fadeOutMenu);

	menuButton?.addEventListener('click', () => {
		mobileMenu?.classList.remove('hidden');
		document.body.style.overflow = 'hidden';
		setTimeout(() => {
			mobileMenu?.classList.add('opacity-100');
		}, 10);
	});
</script>

<style>
	/* Optional: Add smooth transition for mobile menu */
	#mobileMenu {
		transition: opacity 0.2s ease-in-out;
	}
</style>





