---
import Layout from '../layouts/Layout.astro';
import fbIcon from '@/assets/icons/fb.svg';
import twitterIcon from '@/assets/icons/twitter.svg';
import gmailIcon from '@/assets/icons/gmail.svg';
import userIcon from '@/assets/icons/user.svg';
import pwIcon from '@/assets/icons/pw.svg';
---

<Layout title='e-social'>
	<div class="w-screen h-screen bg-cover bg-home flex justify-center ">
		<main class="grid grid-cols-1 md:grid-cols-2 w-[900px] m-8 shadow-xl rounded-md overflow-hidden"> 
			<div class="hidden md:block ">
				<div id="left-top" class="h-full flex flex-col justify-center items-center gap-8 ">
					<h2 class="text-center text-white text-4xl font-['Poppins']">Bienvenido a</h2>
					<h1 class="text-white font-extrabold text-4xl px-8 py-4 border border-white rounded-xl">E-Social</h1>
					<h2 class="text-center text-white text-4xl font-['Poppins']"> una red social experimental</h2> 
				</div>
			</div>
			<div class="relative h-full flex justify-center items-center bg-white text-center overflow-y-auto"> 
				<form id="signin-form" action="/api/auth/signin" method="post" 
					class="absolute flex justify-center items-center flex-col gap-4 p-4 ease-in-out duration-700">
					<h2 class="mb-2 font-bold text-4xl text-sky-800">Iniciar Sesi칩n</h2>
					<div class="bg-slate-200 rounded-3xl">
						<div class="flex gap-2 justify-between items-center p-2">
							<img class="w-6 h-6 rounded-full" src={userIcon.src}>
							<input id="email-in" type="email" name="email" placeholder="Escribe tu correo">
						</div>
					</div>
					<div class="bg-slate-200 rounded-3xl">
						<div class="flex gap-2 justify-between items-center p-2">
							<img class="w-6 h-6 rounded-full" src={pwIcon.src}>
							<input id="password-in" type="password" name="password" placeholder="Escribe tu contrase침a">
						</div>
					</div>
					<button class="w-36 h-12 rounded-3xl cursor-pointer bg-sky-300 text-white uppercase 
						font-semibold mb-1 duration-500 hover:bg-sky-700" type="submit" >Login</button>
					<div class="flex flex-col gap-2 pt-8">
						<p>No eres miembro?</p>
						<button id="signup-button" type="button" class="duration-200 hover:scale-125 underline italic">Registrate!</button>
					</div>
			<!-- 		<p class="px-2 pt-16 text-lg text-center">Registarte con tus redes sociales</p>
					<div class="flex gap-4">
						<a class="w-8 h-8 rounded-full bg-white duration-200 hover:scale-125" href="#"><img src={fbIcon.src}></a>
						<a class="w-8 h-8 rounded-full bg-white duration-200 hover:scale-125"href="#"><img src={twitterIcon.src}></a>
						<a class="w-8 h-8 rounded-full bg-white duration-200 hover:scale-125"href="#"><img src={gmailIcon.src}></a>
					</div> -->
				</form>
				<form id="signup-form" action="/api/auth/register" method="post" 
					class="absolute flex justify-center items-center flex-col gap-4 p-4 opacity-0 -z-10 duration-700 ease-in-out">
					<h2 class="mb-2 font-bold text-4xl text-sky-800 text-center">Crea tu cuenta</h2>
					<div class="bg-slate-200 rounded-3xl">
						<div class="flex gap-2 justify-between items-center p-2">
							<img class="w-6 h-6 rounded-full" src={userIcon.src}>
							<input id="email" type="email" name="email" required placeholder="Escribe tu correo">
						</div>
					</div>
					<div class="bg-slate-200 rounded-3xl">
						<div class="flex gap-2 justify-between items-center p-2">
							<img class="w-6 h-6 rounded-full" src={pwIcon.src}>
							<input id="password-up" type="password" name="password" required placeholder="Escribe tu contrase침a">
						</div>
					</div>
					<label class="flex gap-2 px-5 text-xs max-w-72" for="terminos">
						<input class="w-4 h-4 px-2" id="terminos" type="checkbox" required/>
						<p>He leido y estoy de acuerdo con el 
						<a  href="/terms" class="text-sky-800 italic underline hover:cursor-pointer">consentimiento informado</a></p>
					</label>
					<button class="w-36 h-12 rounded-3xl cursor-pointer bg-sky-300 text-white uppercase 
						font-semibold mb-1 duration-500 hover:bg-sky-700" type="submit" >Registrate</button>
					<div class="flex flex-col gap-2 pt-8">
						<p>Ya eres miembro?</p>
						<button id="signin-button" type="button" class="duration-200 hover:scale-125 underline italic">Inicia Sesi칩n!</button>
					</div>
	<!-- 				<p class="px-2 pt-16 text-lg text-center">Registarte con tus redes sociales</p>
					<div class="flex gap-4">
						<a class="w-8 h-8 rounded-full bg-white duration-200 hover:scale-125" href="#"><img src={fbIcon.src}></a>
						<a class="w-8 h-8 rounded-full bg-white duration-200 hover:scale-125"href="#"><img src={twitterIcon.src}></a>
						<a class="w-8 h-8 rounded-full bg-white duration-200 hover:scale-125"href="#"><img src={gmailIcon.src}></a>
					</div> -->
				</form>
			</div>
		</main>
	</div>
	
</Layout>

<style>

	.bg-home{
		background-image: url(src/assets/home2.jpg);
	}

	input{
		outline: none;
		background: none;
		border: none;
		line-height: 1;
		font-weight: 600;
		font-size: 1.1rem;
		color: #7e7e7e;
	}

	input::placeholder{
		color: #aaa;
		font-weight: 400;
		font-size: .85rem;
		padding-bottom: 15px;
	}

	#left-top{
		background-color: transparent;
		backdrop-filter: blur(20px);
		background-image: linear-gradient(140deg, rgba(0, 195, 255, 0.368), rgba(255, 255, 255, 0.253));
	}

</style>

<script>

	const signupButton = document.getElementById("signup-button");
	const signinButton = document.getElementById("signin-button");
	const signupForm = document.getElementById("signup-form");
	const signinForm = document.getElementById("signin-form");

	signupButton?.addEventListener("click", () => {
		signupForm?.classList.remove('opacity-0');
		signupForm?.classList.remove('-z-10');
		signinForm?.classList.add('opacity-0');
		signinForm?.classList.add('-z-10');
	});

	signinButton?.addEventListener("click", () => {
		signupForm?.classList.add('opacity-0');
		signupForm?.classList.add('-z-10');
		signinForm?.classList.remove('opacity-0');
		signinForm?.classList.remove('-z-10');
	});

	function isMobile() {
		const regex = /Mobi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;
		return regex.test(navigator.userAgent);
	}

	if(isMobile()){
		signinForm?.classList.toggle('landscape:top-0');
		signupForm?.classList.toggle('landscape:top-0');
	}

	



</script>




