---
import { Image } from 'astro:assets';

interface Props {
    source: ImageMetadata;
    id: string;
}
const {source, id} = Astro.props;

---

<swipe-card class="absolute w-full" data-id={id}>
    <div class="bg-gray-50 w-full justify-items-center rounded-3xl mt-5">
      <image-container class="max-w-[300px] sm:max-w-[450px] lg:max-w-[600px] flex items-center justify-center rounded-3xl overflow-hidden transition bg-transparent ">
        <Image class="w-[240px] h-[240px] sm:w-[450px] sm:h-[300px] lg:w-[600px] lg:h-[400px] rounded-3xl" src={source} alt="stimulus" draggable="false" id="actual-stimuli"/>
      </image-container>
    </div>
</swipe-card>

<style>
    .go-left {
        transform: translateX(-150%) rotate(-30deg) !important;
    }

    .go-right {
    transform: translateX(150%) rotate(30deg) !important;
    }

    .go-left,
    .go-right {
    transition: transform .3s ease, rotate .3s ease;
    }

    .reset {
        transition: transform .3s ease;
        transform: translateX(0) !important;
    }
</style>

<script>

  import { 
    addAnsweredQuestion, 
    selectedReaction,
    selectReaction, setDialog, 
    addProgress, 
    removeStimulus, stimuliLeft, 
    answeredQuestions} from '@/lib/store';

  import { usernames, profile_images } from '@/lib/data';
  import { randomIntFromInterval } from '@/lib/utils';

  class Card extends HTMLElement {
    constructor(){
      super()
    }
  }

  customElements.define('swipe-card', Card);

  
  const likeButton = document.querySelector("#like_button") as HTMLButtonElement;
  const dislikeButton = document.querySelector("#dislike_button") as HTMLButtonElement;

  const DECISION_THRESHOLD = 100

  let isAnimating = false
  let pullDeltaX = 0

  async function fetchData () {

    const feed_done = stimuliLeft.get().length > 0 ? false : true;

    await fetch('/api/stimuli', {
      method: "POST",
      body: JSON.stringify({
        stimuli_left: stimuliLeft.get(),
        answered_questions: answeredQuestions.get(),
        feed_done
      })
    });
  }

  function startDrag(event: any) {
      if (isAnimating) return

      const actualCard = event.target.closest('#actual-stimuli');
      const parent = event.target.closest('swipe-card');
      const picture = event.target.closest('image-container');
      const username_text = document.getElementById("username_text");
      const hour_number = document.getElementById("hour_number");
      const profile_image = document.getElementById("profile_image") as HTMLImageElement;

      if (!actualCard) return
      if(actualCard.dataset.reaction) return;

      const startX = event.pageX ?? event.touches[0].pageX

      document.addEventListener('mousemove', onMove)
      document.addEventListener('mouseup', onEnd)

      document.addEventListener('touchmove', onMove, { passive: true })
      document.addEventListener('touchend', onEnd, { passive: true })

      function onMove(event: any) {

        const currentX = event.pageX ?? event.touches[0].pageX

        pullDeltaX = currentX - startX

        if (pullDeltaX === 0) return

        isAnimating = true
        const deg = pullDeltaX / 14
        actualCard.style.transform = `translateX(${pullDeltaX}px) rotate(${deg}deg)`
        actualCard.style.cursor = 'grabbing'

        const opacity = Math.abs(pullDeltaX) / 100
        const isRight = pullDeltaX > 0

        //isRight ? like!.classList.remove("opacity-0") : dislike!.classList.remove("opacity-0");
        
        picture.style["background-color"] = isRight ? `rgba(74, 222, 128, ${opacity}` : `rgba(248, 113, 113, ${opacity}`;
      }

      async function onEnd(event: any) {

        document.removeEventListener('mousemove', onMove)
        document.removeEventListener('mouseup', onEnd)

        document.removeEventListener('touchmove', onMove)
        document.removeEventListener('touchend', onEnd)

        const decisionMade = Math.abs(pullDeltaX) >= DECISION_THRESHOLD

        if (decisionMade) {
          if(selectedReaction.get() === "none") {
            setDialog(true);
            reset();
            resetPosition();
            return;
          }
          const goRight = pullDeltaX >= 0

          actualCard.classList.add(goRight ? 'go-right' : 'go-left')
          actualCard.addEventListener('transitionend', () => {
            parent.remove()
          })

          addAnsweredQuestion({id: parent.dataset.id, reaction: selectedReaction.get(), like: goRight ? true : false});
          selectReaction("none");
          addProgress();
          removeStimulus(parent.dataset.id);
          await fetchData();
          isAnimating = false
          username_text!.textContent = usernames[randomIntFromInterval(0, usernames.length)];
          profile_image!.src = profile_images[randomIntFromInterval(0, profile_images.length)];
          hour_number!.textContent = randomIntFromInterval(1, 23).toString();


        } else {
          reset();
        }

        function reset () {
          actualCard.classList.add('reset')
          actualCard.classList.remove('go-right', 'go-left')
        }
        function resetPosition() {
            actualCard.removeAttribute('style')
            actualCard.classList.remove('reset')
            picture.style['background-color'] = '';
            pullDeltaX = 0
            isAnimating = false
        }

        actualCard.addEventListener('transitionend', () => {
          resetPosition();
        })

      }
  }

  document.addEventListener('mousedown', startDrag)
  document.addEventListener('touchstart', startDrag, { passive: true })

  async function sendQuestion(like: boolean){

    const card_container = document.getElementById("card-container");
    
    const username_text = document.getElementById("username_text");
    const hour_number = document.getElementById("hour_number");
    const profile_image = document.getElementById("profile_image") as HTMLImageElement;

    const children = card_container!.children;

    const currentCard: any = children[children.length-1];

    if(children.length < 2){
      return;
    }

    if(selectedReaction.get() === "none") {
      setDialog(true);
      return;
    }

    addAnsweredQuestion({id: currentCard.dataset.id, reaction: selectedReaction.get(), like});
    selectReaction("none");
    addProgress();
    removeStimulus(currentCard.dataset.id);
    await fetchData();
    currentCard.remove();
    
    username_text!.textContent = usernames[randomIntFromInterval(0, usernames.length)];
    profile_image!.src = profile_images[randomIntFromInterval(0, profile_images.length)];
    hour_number!.textContent = randomIntFromInterval(1, 23).toString();


  }

  dislikeButton.addEventListener('click', () => {sendQuestion(false)})
  likeButton.addEventListener('click', () => {sendQuestion(true)})


</script>