---
import { Image } from 'astro:assets'

import angry from '@/assets/reactions/angry.png'
import happy from '@/assets/reactions/happy.png'
import cry from '@/assets/reactions/cry.png'
import surprised from '@/assets/reactions/surprised.png'
import funny from '@/assets/reactions/funny.png'
import charming from '@/assets/reactions/charming.png'
import scared from '@/assets/reactions/scared.png'

---
<div id="menu" class="menu relative flex items-center justify-center bg-sky-200 w-full h-[20%] pt-2 pb-8">
    <div class="w-16 h-16 rounded-full bg-white flex justify-center 
        items-center ease-in duration-150 hover:scale-125">
        <button id="emojiButton">
            <img draggable="false" src={happy.src}>
        </button>
    </div>
    <ul class="flex justify-center items-center top-[70px]">
        <li style="--i:0;"><button><img draggable="false" src={happy.src}></button></li>
        <li style="--i:1;"><button><img draggable="false" src={angry.src}></button></li>
        <li style="--i:2;"><button><img draggable="false" src={surprised.src}></button></li>
        <li style="--i:3;"><button><img draggable="false" src={cry.src}></button></li>
        <li style="--i:4;"><button><img draggable="false" src={funny.src}></button></li>
        <li style="--i:5;"><button><img draggable="false" src={charming.src}></button></li>
        <li style="--i:6;"><button><img draggable="false" src={scared.src}></button></li>
    </ul>
</div>

<style>
    .menu li {
        width: 48px;
        height: 48px;
        border-radius: 9999px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        list-style: none;
        left: 22px;
        transform-origin: 140px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease;
    }

    .menu li img {
        transform: rotate(calc(208deg/-7 * var(--i)));
    }

    .menu.active li{
        transform: rotate(calc(208deg/7 * var(--i)));
        opacity: 1;
        visibility: visible;
    }

    .click{
        transform: scale(0.75);
    }
</style>

<script>
    const menu = document.getElementById('menu') as HTMLUListElement;
    const emojis = document.querySelectorAll('li');
    const emojiButton = document.getElementById('emojiButton') as HTMLButtonElement;

    emojis.forEach((emoji) => {
        const button = emoji.querySelector('button');
        button!.onclick = function () {
            menu.classList.remove('active')
        }

    })
    
    emojiButton.onclick = function () {
        menu.classList.add('active')
    }

    emojiButton.onmousedown = function () {
        emojiButton.classList.add('click')
    }

    emojiButton.onmouseup = function () {
        emojiButton.classList.remove('click')
    }

    

</script>
