---
import ESocialIcon from '@/assets/icons/esocial.svg'
import ProgressIcon from '@/assets/icons/progress.svg'
import LogoutIcon from '@/assets/icons/logout.svg'
import HelpIcon from '@/assets/icons/help.svg'
---

<nav class="bg-white rounded-3xl w-full">
    <ul class="w-full flex justify-around gap-4 p-2">
        <li class="flex flex-col justify-center items-center">
            <picture>
                <img class="h-8 w-8" src={ESocialIcon.src} alt="esocialicon" />
            </picture>
            <p class="text-[10px] sm:text-xs text-gray-400 font-[Poppins]">
                E-Social
            </p>
        </li>
        <li id="progress-nav" class="flex flex-col justify-center items-center lg:hidden cursor-pointer ">
            <picture>
                <img class="h-8 w-8" src={ProgressIcon.src} alt="progress" />
            </picture>
            <p class="text-[10px] sm:text-xs text-gray-400 font-[Poppins]">
                Progreso
            </p>
        </li>
        <li id="feed-nav" class="justify-center items-center hidden cursor-pointer ">
            <picture>
                <img class="h-8 w-8" src={ProgressIcon.src} alt="feed" />
            </picture>
            <p class="text-[10px] sm:text-xs text-gray-400 font-[Poppins]">
                Estimulos
            </p>
        </li>
        <li id="help">
            <a class="flex flex-col justify-center items-center cursor-pointer" href="/instructions">
                <picture>
                    <img class="h-8 w-8" src={HelpIcon.src} alt="log-out" />
                </picture>
                <p class="text-[10px] sm:text-xs text-gray-400 font-[Poppins]">
                    Instrucciones
                </p>
            </a>
        </li>
        <li id="logout" class="flex flex-col justify-center items-center cursor-pointer">
            <picture>
                <img class="h-8 w-8" src={LogoutIcon.src} alt="log-out" />
            </picture>
            <p class="text-[10px] sm:text-xs text-gray-400 font-[Poppins]">
                Cerrar sesión
            </p>
        </li>
    </ul>
</nav>

<script>
    const logoutButton = document.querySelector("#logout");
    const progressButton = document.querySelector("#progress-nav");
    const feedButton = document.querySelector("#feed-nav");
    const main = document.querySelector("#main");
    const progress = document.querySelector("#progress");

    const setListeners = () => {
        if(!logoutButton) return;
        logoutButton.addEventListener("click", async () => {
            const res = await fetch('/api/auth/signout', {
                method: "GET"
            });

            window.location.href = res.url;
        });

        if(!progressButton || !feedButton) return;
        progressButton.addEventListener("click", ()=>{
            main?.classList.toggle("hidden")
            progress?.classList.toggle("hidden")
            progressButton?.classList.toggle("hidden")
            feedButton?.classList.toggle("hidden")
            feedButton?.classList.toggle("flex")
            feedButton?.classList.toggle("flex-col")
        })

        feedButton.addEventListener("click", ()=>{
            main?.classList.toggle("hidden")
            progress?.classList.toggle("hidden")
            progressButton?.classList.toggle("hidden")
            feedButton?.classList.toggle("hidden")
            feedButton?.classList.toggle("flex")
            feedButton?.classList.toggle("flex-col")
        })

    };

    setListeners();
</script>